<footer class="container font-preahvihear text-white mb-4 mt-[50px] sm:mt-[100px]">
  <h2 class="text-[20px] sm:text-[40px]">Contact</h2>
  <p class="max-w-[700px] text-[11px] sm:text-[15px]">
    I'm currently looking to join a cross-functional team that values improving
    people's lives through accessible design. or have a project in mind? Let's
    connect.
  </p>
  <p class="mt-4 text-[11px] sm:text-[15px]:mt-8">ibrhaimmemon930&#64;gmail.com</p>
  <div class="flex gap-8 mt-6">
    <div class="w-[18px] h-[18px]">
      <div class=""><img src="../../assets/image/inst.svg" alt="" /></div>
    </div>
    <div class="w-[18px] h-[18px]">
      <div class=""><img src="../../assets/image/bol.svg" alt="" /></div>
    </div>
    <div class="w-[18px] h-[18px]">
      <div class=""><img src="../../assets/image/google.svg" alt="" /></div>
    </div>
  </div>
</footer>
