<div
  class="wrap_card flex gap-x-[40px]  rounded-xl p-[50px] bg-[linear-gradient(110.49deg,#130428_19.95%,#251043_67.64%,#38126D_107.08%,#261045_156.61%,#190634_183.21%)]"
>
  <div class="image_card">
    <img src="../../../assets/image/star.png" alt="" class="" />
  </div>
  <div class="text-white">
    <h3 class="font-semibold text-[26px]">CIB on the Mobile</h3>
    <p class="font-medium text-[12px]">
      Take your client onboard seamlessly by our <br />
      amazing tool of digital onboard process.
    </p>
    <a
      href="#"
      class="inline-block text-[14px] mt-[10px] py-2 px-6 border-2 border-[rgba(105,59,147,1)] bg-[rgba(44,18,80,1)] rounded-xl hover:bg-[rgba(105,59,147,0.3)] transition"
      >LEARN MORE
    </a>
  </div>
</div>
