<h2 class="font-preahvihear text-white mt-[60px] text-[30px] sm:text-[50px]">
  I'm a Software Engineer.|
</h2>
<p class="font-preahvihear text-white sm:text-[21px]">
  Currently, I'm a Software Engineer at Facebook,
</p>
<p class="font-preahvihear text-white pt-[30px] sm:text-[21px]:pt-[50px]">
 A self-taught UI/UX designer, functioning in the industry for 3+ years now.<br/>
I make meaningful and delightful digital products that create an equilibrium <br/>
between user needs and business goals.
</p>
