.person{
    background: url(../../../assets/image/me-bg.png) no-repeat;
    background-size: contain;
}
.cover{
    background: url(../../../assets/image/bg-cover.png) no-repeat center;
    /* background-size: cover; */
}