
  <div class="wrap_hero mt-[70px] font-preahvihear relative">
    <div class="flex absolute left-[230px] top-[25px]">
      <div class="pt-4">
        <img src="../../../../assets/image/arrow.png" alt="" />
      </div>
      <p class="text-white text-[19px]">
        Hello! I Am <span class="text-[rgba(113,39,186,1)]">Ibrahim Memon</span>
      </p>
    </div>
    <div class="wrap_person flex items-center">
      <div class="person w-[385px] h-[431px] flex items-center justify-center">
        <div class="image max-w-[256px] max-h[259px]">
          <img src="../../../../assets/image/me2.png" alt="" />
        </div>
      </div>
      <div class="text-white max-w-[406px] ml-[-60px]">
        <p class="text-[17px]">A Designer who</p>
        <h1 class="text-[50px] leading-tight">
          Judges a book by its
          <span class="cover px-[22px] text-[rgba(113,39,186,1)]">cover</span
          >...
        </h1>
        <p class="text-[11px] mt-1">
          Because if the cover does not impress you what else can?
        </p>
      </div>
    </div>
  </div>

