.person {
  background: url(../../../../assets/image/me-bg.png) no-repeat;
  background-size: contain;
}
.cover {
  background: none;
}
@media (min-width: 640px) {
  .cover {
    background: url(../../../../assets/image/bg-cover.png) no-repeat center;
  }
}
