<div class="wrap_hero font-preahvihear relative sm:mt-[70px]">
  <div class="flex absolute left-[220px] top-[50px] sm:left-[230px] sm:top-[25px]">
    <div class="pt-4">
      <img src="../../../../assets/image/arrow.png" alt="" />
    </div>
    <p class="text-white text-[19px]">
      Hello! I Am <span class="text-[rgba(113,39,186,1)]">Ibrahim Memon</span>
    </p>
  </div>
  <div class="wrap_person  items-center sm:flex">
    <div class="person w-[385px] h-[431px] flex items-center justify-center">
      <div class="image max-w-[200px] max-h[200px] sm:max-w-[256px]:max-h[259px]">
        <img src="../../../../assets/image/me2.png" alt="" />
      </div>
    </div>
    <div class="text-white sm:max-w-[406px] sm:ml-[-60px]">
      <p class="text-[14px] sm:text-[17px]">A Designer who</p>
      <h1 class="text-[30px] leading-tight sm:text-[50px]">
        Judges a book by its
        <span class="cover text-[rgba(113,39,186,1)] sm:px-[22px] sm:px-[12px]">cover</span>...
      </h1>
      <p class="text-[11px] mt-1">
        Because if the cover does not impress you what else can?
      </p>
    </div>
  </div>
</div>
