 <div class="container">
     <table class="border-collapse border border-gray-400">
        <thead>
          <tr>
            <th class="border border-gray-300">Слово</th>
            <th class="border border-gray-300">Перевод</th>
            <th class="border border-gray-300">Код</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border border-gray-300">Apple</td>
            <td class="border border-gray-300">Яблоко</td>
            <td class="border border-gray-300">110</td>
          </tr>
          <tr>
            <td class="border border-gray-300">Book</td>
            <td class="border border-gray-300">Книга</td>
            <td class="border border-gray-300">111</td>
          </tr>
          <tr>
            <td class="border border-gray-300">Cat</td>
            <td class="border border-gray-300">Кошка</td>
            <td class="border border-gray-300">112</td>
          </tr>
        </tbody>
      </table>
 </div>
