<div
  class="backdrop-blur-sm bg-white/5 mt-6 text-left w-[670px] p-[30px] text-white rounded-xl bg-[radial-gradient(90.16%_143.01%_at_15.32%_21.04%,rgba(105,59,147,0.2)_0%,rgba(110,191,244,0.0447917)_77.08%,rgba(70,144,213,0)_100%)]"
>
  A web app for visualizing personalized Spotify data. View your top artists,
  top tracks, recently played tracks, and detailed audio information about each
  track. Create and save new playlists of recommended tracks based on your
  existing playlists and more.
</div>

