@import"./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body{
    background: url('./assets/image/Background.png');
    background-size: cover;
  }
  img {
    @apply w-full;
  }
}
@layer components {
  .container {
    @apply max-w-[1200px] mx-auto px-4 overflow-hidden
  }
  .nav_linck{
    @apply  text-white
  }
   .active{
        @apply text-white
    }
}
