<div class="grid grid-cols-2">
  <div class="">
    <p class="text-[rgba(113,39,186,1)]">Featured Project</p>
    <h2 class="text-white text-[34px] font-semibold">Example Project</h2>

    <app-project-card class=""></app-project-card>

    <div class="mt-[30px] flex gap-4">
      <div class="max-w-[31px] max-h-[31px] overflow-hidden">
        <img src="../../../../assets/image/icon-park-solid.png" alt="" />
      </div>
      <div class="max-w-[31px] max-h-[31px] overflow-hidden">
        <img src="../../../../assets/image/icon-park-solid.png" alt="" />
      </div>
    </div>
  </div>
  <div
    class="h-[300px] bg-[rgba(43,11,58,1)] rounded-xl flex items-end justify-end overflow-hidden"
  >
    <div class="rounded-tl-xl overflow-hidden">
      <img
        src="../../../../assets/image/screenshot.jpg"
        alt=""
        class="max-h-[275px]"
      />
    </div>
  </div>
</div>
