<div class="grid mt-[50px] lg:grid-cols-2 sm:mt-[100px]">
  <div class="">
    <p class="text-[rgba(113,39,186,1)] text-[11px] sm:text-[16px]">
      Featured Project
    </p>
    <h2 class="text-white font-semibold text-[24px] sm:text-[34px]">
      Example Project
    </h2>

    <app-project-card class=""></app-project-card>

    <div class="mt-[10px] mb-[20px] flex gap-4 sm:mt-[30px]">
      <div class="w-[21px] h-[21px] overflow-hidden sm:w-[31px] sm:h-[31px]">
        <img src="../../../../assets/image/icon-park-solid.png" alt="" />
      </div>
      <div class="w-[21px] h-[21px] overflow-hidden sm:w-[31px] sm:h-[31px]">
        <img src="../../../../assets/image/icon-park-solid.png" alt="" />
      </div>
    </div>
  </div>

  <div
    class="relative z-[-1] h-[220px] bg-[rgba(43,11,58,1)] rounded-xl flex items-end justify-end overflow-hidden sm:h-[300px]"
  >
    <div class="rounded-tl-xl overflow-hidden">
      <img
        src="../../../../assets/image/screenshot.jpg"
        alt=""
        class="h-[200px] w-[360px] sm:h-[280px] sm:w-[500px]"
      />
    </div>
  </div>
</div>
