<div class="mt-[50px] grid sm:grid-cols-2 sm:mt-[100px]">
  <div
    class="order-2 h-[220px] bg-[rgba(43,11,58,1)] rounded-xl flex items-end justify-start overflow-hidden sm:h-[300px] sm:order-1"
  >
    <div class="rounded-tr-xl overflow-hidden ">
      <img
        src="../../../../assets/image/screenshot.jpg"
        alt=""
        class="h-[200px] w-[360px] sm:h-[280px] sm:w-[500px]"
      />
    </div>
  </div>

  <div class="text-right relative flex flex-col justify-between sm:order-2">
    <div class="">
      <p class="text-[rgba(113,39,186,1)]">Featured Project</p>
      <h2 class="text-white text-[34px] font-semibold">Example Project</h2>
    </div>

    <app-project-card
      class="absolute top-[70px] left-[-80px]"
    ></app-project-card>

    <div class="mt-[30px] flex gap-4 justify-end">
      <div class="max-w-[31px] max-h-[31px] overflow-hidden">
        <img src="../../../../assets/image/icon-park-solid.png" alt="" />
      </div>
      <div class="max-w-[31px] max-h-[31px] overflow-hidden">
        <img src="../../../../assets/image/icon-park-solid.png" alt="" />
      </div>
    </div>
  </div>
</div>
